.header-bar,
.header-bar:insensitive {
	border-width: 0 0 1px;
	border-style: solid;
	border-color: @menubar_bg_color;

	background-color: @menubar_bg_color;
    padding: 6px 6px;
}

.header-bar .button.text-button {
	padding: 6px 6px;
}

.header-bar .button.image-button {
	padding: 6px 6px;
}

.header-bar .title {
	font: 7;
    color: @menubar_fg_color;
}

.header-bar .subtitle {
	font: 7;
    color: @menubar_fg_color;
}
